@charset "utf-8";
@import "normalize";

@mixin gradient($from, $to) {
  /* fallback/image non-cover color */
  background-color: $from;

  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient($from, $to);

  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));

  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient($from, $to);

  /* Opera 11.10+ */
  background-image: -o-linear-gradient($from, $to);
}

body {
  background: black;
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

.logo img {
  margin-top: 6em;
  margin-bottom: 3em;
}

h1 {
  color: rgba(0,0,0,0.5);
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 500;
}

a.button {
  border: 2px solid gold;
  border-radius: 5px;
  padding: 0.75em 1em;
  color: white;
  @include gradient(purple, darken(purple, 20%));
  text-decoration: none;
  transition: color 0.1s linear;
  &:hover {
    color: white;
    transition: all 0.15s linear;
  }
}
a.button.disabled {
  @include gradient(gray, darken(gray, 20%));
}

.status {
  @include gradient(white, black);
  color: white;
  height: 60px;
}
.buttons {
  @include gradient(black, white);
  padding: 20px;
  height: 60px;
}

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
