---
title: Welcome to Phoebus Games
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "logo.png" %>
  </div>
  <p>
    <% data.games.each do |name, game| %>
      <a href="/games/<%= name %>/" class="button"><%= game.title %></a>
     <% end %>
  </p>
</div><!-- .welcome -->
