---
title: Welcome to Helios Games
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "logo.png" %>
  </div>
  <h1>Games</h1>
  <p class="doc">
    <a href="/roulette"> Roulette</a>
  </p>
</div><!-- .welcome -->
