---
title: Welcome to Helios Games
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "logo.png" %>
  </div>
  <p>
    <a href="/games/roulette" class="button">Roulette</a>
    <a href="/games/classic-slot" class="button">Classic Slot</a>
  </p>
</div><!-- .welcome -->
